* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

html, body {
    height: 100%;
}

:root {
    --accent-primary: #ec1f41;
    --accent-primary-contrasting-color: #ffffff;
    --transition-duration-primary: .2s;
    --button-border-radius-primary: 8px;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    padding-left: 3rem;
    padding-right: 3rem;
}

::-moz-selection {
    background-color: var(--accent-primary);
    color: var(--accent-primary-contrasting-color);
}

::selection {
    background-color: var(--accent-primary);
    color: var(--accent-primary-contrasting-color);
}

button {
    cursor: pointer;
    border: none;
}

.page-header {
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page-header-text {
    font-size: 29px;
    font-weight: 100;
    color: #000000;
}

#page-header-add-book-btn {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    font-weight: 100;
    transition: var(--transition-duration-primary);
}

#page-header-add-book-btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.3), -2px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

#page-header-add-book-btn:active {
    opacity: 0.85;
}

.page-main-contents {
    flex: 1;
    overflow-y: scroll;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-main-contents > p {
    text-align: center;
}

.user-books-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.user-book-card {
    background-color: #e4e4e4;
    aspect-ratio: 1 / .85;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.05), -2px 0px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.user-book-card-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.60rem;
}

.user-book-card-data > p {
    text-align: center;
}

.user-book-card-book-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.user-book-card-toggle-read-btn {
    width: 100%;
    height: 35px;
    background-color: #00bb09;
    color: white;
    border-radius: var(--button-border-radius-primary);
}

.user-book-card-toggle-read-btn.unread {
    width: 100%;
    height: 35px;
    background-color: #bb0000;
    color: white;
}

.user-book-card-toggle-read-btn:hover {
    opacity: 0.;
}